* {
    box-sizing: border-box;
}
:root {
    --parimary-color: #ff5b2e;
    --heading-color: #000958;
    --text-desc-color: #656689;
    --white-color: #fff;
    --height: 56px;
}
html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background: #e5e5e5;
}
/* -----------------------------------------------------common----------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: var(--height);
    min-width: 130px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: var(--height);
    border: 2px solid var(--heading-color);
    border-radius: 999px;
    padding: 18px 32px;
    color: var(--heading-color);
}

.sub__heading {
    font-family: "Sora";
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: var(--heading-color);
}

.text__desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    color: var(--text-desc-color);
}
/* -----------------------------------------------------header----------------------------------------------------- */

.navbar {
    display: block;
    padding: 26px 0;
}

.navbar__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    padding: 18px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #5e6085;
    line-height: 1;
}

.navbar__link:hover {
    color: var(--heading-color);
    text-shadow: 1.4px 0 currentColor;
}

.navbar__link.active {
    color: var(--heading-color);
    text-shadow: 1.4px 0 currentColor;
}

.navbar__action {
    margin-right: 20px;
}

.btn.login__btn:hover {
    background: var(--heading-color);
    color: var(--white-color);
    opacity: 0.8;
}

/* -----------------------------------------------------hero----------------------------------------------------- */

#hero {
    margin-top: 100px;
    padding-bottom: 94px;
}

.hero__row {
    display: flex;
    justify-content: space-between;
    column-gap: 120px;
}

/* -----------------------------------------------------hero-media----------------------------------------------------- */

.herto__media {
    position: relative;
}

.hero__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border: 3px solid var(--white-color);
    border-radius: 16px;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__img-decuration {
    position: absolute;
    z-index: -1;
}

.hero__img-decuration--left {
    left: -58px;
    bottom: 10px;
}
.hero__img-decuration--right {
    top: 17px;
    right: -45px;
}

.hero__wrap--img {
    width: 186px;
    align-self: flex-end;
    height: 244px;
    background: #faa7ad;
    border: 3px solid #f7dddf;
    border-radius: 16px;
}

.hero__wrap--small {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: -163px;
    bottom: -58px;
}

.hero__list {
    position: absolute;
    left: 130px;
    bottom: -90px;
    width: 250px;
    height: 155px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    padding: 18px 14px;
}

.hero__list-item {
    display: flex;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    background: #fec23f;
    border-radius: 10px;
}

.hero__list-item-info {
    margin-left: 10px;
    flex-grow: 1;
}
.hero__list-item-title {
    font-family: "Sora";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #181e52;
}

.hero__list-item-skeleton {
    margin-top: 6px;
    display: block;
    width: 118px;
    height: 4px;
    background: var(--heading-color);
    opacity: 0.08;
    border-radius: 10px;
}

.hero__list-item-separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}

/* -----------------------------------------------------hero-contents----------------------------------------------------- */

.hero__heading {
    width: 517px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    color: var(--heading-color);
}

.text__desc.hero__desc {
    width: 391px;
    margin-top: 24px;
}

.btn.hero__btn {
    margin-top: 38px;
    min-width: 190px;
    color: var(--white-color);
    background: var(--parimary-color);
    border-color: var(--parimary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn.hero__btn:hover {
    opacity: 0.9;
}

.hero__btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    background: #fffaf5;
    color: var(--parimary-color);
}

.hero__btn-cta {
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline solid var(--heading-color) 1px;
    text-underline-offset: 2px;
    color: var(--heading-color);
}

/* -----------------------------------------------------about----------------------------------------------------- */

#about {
    margin-top: 77px;
    padding: 53px 0;
}

.about__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 142px;
}

/* -----------------------------------------------------about-contents----------------------------------------------------- */

.about__title {
    font-family: "Sora";
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}

.about__heading {
    width: 446px;
    margin-top: 15px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}

.about__checklist {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__checkitem {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 34px;
}

.about__checkitem::before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__checkitem::after {
    display: inline-block;
    content: url("../icon/check-svg.svg");
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 5px;
}

/* -----------------------------------------------------about-media----------------------------------------------------- */
.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 155px;
    left: 0;
    width: 136px;
    height: 156px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    padding: 31px 26px 29px;
}

.about__card-title {
    font-family: "Sora";
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    text-align: center;
    color: #fff;
}

.about__card-desc {
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    text-align: center;
    color: #c6f4f9;
}

.about__card-decor {
    position: absolute;
    top: -38px;
    right: -34px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
    border-radius: 16px;
    z-index: -1;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__img-wrap-bottom {
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}

.about__img-bottom {
    width: 100%;
    height: 100%;
}

.about__img-decor {
    position: absolute;
}

.about__img-decor:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__img-decor:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__img-decor:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__img-decor:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__img-decor:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__img-decor:nth-child(5) {
    right: 19px;
    bottom: 150px;
}

.about__img-decor:nth-child(6) {
    right: -24px;
    bottom: -40px;
}

.about__img-decor:nth-child(7) {
    right: -33px;
    bottom: -47px;
}

.about__img-decor:nth-child(8) {
    right: -42px;
    bottom: -55px;
}

.about__heading-bottom {
    margin-top: 36px;
}

.about__desc-bottom {
    margin-top: 24px;
    width: 511px;
}

.about__tab {
    margin-top: 52px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 1px;
}

.tab__item--active::after {
    position: absolute;
    width: 95px;
    background: #ff5b2e;
    border-radius: 1px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 14px;
    cursor: pointer;
}

.tab__item:nth-child(2) .tab__img {
    width: 25px;
}

.tab__title {
    font-family: "Sora";
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    padding-top: 36px;
    color: #656689;
}

.tab__content-more {
    display: inline-block;
    position: relative;
    margin-top: 32px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
}

.tab__content-more::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 2px;
}
